<!-- Create new map -->
<section class="map-form" *ngIf="map == null">
  <h2>Create a new Mars Plateau</h2>
  <p>Enter two digits for x and y respectively. Minimum plateau size is 2x2. Max size is 9x9</p>
  <input class="new-map" [(ngModel)]="newMapSize" placeholder="eg: 5 5" (keyup.enter)="createMap()">
  <button (click)="createMap()">Create</button>
</section>

<!-- Map  -->
<section class="map" *ngIf="map != null">
  <div class="row" *ngFor="let row of map.tiles">
    <div class="col" *ngFor="let column of row">
      <div *ngIf="column[0].id >= 0">
        <label class="map-rover" *ngFor="let rov of column">
          <span>Rover {{rov.id}}</span> - {{rov.direction}}</label>
      </div>
      <label *ngIf="column[0].id == undefined">{{column}}</label>
    </div>
  </div>
  <button (click)="resetAll()">New map</button>
  <hr>
</section>


<!-- add rovers -->
<section class="rover-form" *ngIf="map != null">
  <h2>Create Rovers</h2>
  <p>Enter two digits followed by a letter representing the cardinal direction the rover is facing</p>
  <input class="new-rover" name="new-rover" [(ngModel)]="start" #newRover="ngModel" placeholder="eg: 2 2 N" autofocus="" (keyup.enter)="addRover()">
  <button (click)="addRover()">Add Rover</button>
  <hr>
</section>

<!-- rovers list -->
<div *ngIf="rovers.length > 0">
  <h2>Rover Instructions</h2>
  <p>Enter a string of characters to direct the rover to move around the plateau. Each rover will move in order starting at
    the top of the list. Empty strings will leave the rover where remains</p>

  <ul class="single-line">
    <li> L = Rotate left 90°</li>
    <li> R = Rotate right 90°</li>
    <li> M = Move forward one space</li>
  </ul>

  <form (submit)="executeInstructions()" #formData="ngForm">
    <ul>
      <li class="row">
        <div class="col indent">
          <label>Rover Instructions:</label>
        </div>
      </li>

      <li class="rover-row" *ngFor="let rover of rovers;">
        <div class="col rover">
          <label>
            <span>Rover {{rover.id}}</span> - {{rover.getPosition()}}</label>
        </div>

        <div class="col rover">
          <input class="rover-instructions" name="rover.id" *ngIf="rover.status" [(ngModel)]="rover.instructions" placeholder="eg: L M R M"
            #rover.id="ngModel" pattern="[LlRrMm ]*" [disabled]="!rover.status">
          <label *ngIf="!rover.status" class="crash">Fell off the plateau!</label>
        </div>

        <div class="col rover">
          <button type="button" (click)="deleteRover(rover)">Delete Rover</button>
        </div>
      </li>
    </ul>

    <input type="submit" value="Execute all rover instructions" [disabled]="!formData.valid">
    <label *ngIf="!formData.valid">Invalid Instructions</label>
  </form>

</div>