<!-- Create new map -->
<section class="map-form" *ngIf="map == null">
  <h2>Create a new Mars Plateau</h2>
  <p>You are a Rover Operator for NASA landing rovers on Mars.</p>
  <p>NASA recently discovered a number of curiously rectangular plateaus on the surface.</p>
  <p>The project lead asked you to test the rovers navigation by creating plateaus in the MRCS (Mars Rover Communication Software).</p>
  <br>
  <p>Begin by creating a new plateau in the software. Oddly, the plateaus all fall in a range of sizes:</p>
  <p>
    <span class="bold">Smallest (2 2)</span> and the
    <span class="bold">Largest (9 9)</span>
  </p>
  <input class="new-map" [(ngModel)]="newMapSize" placeholder="eg: 5 5" (keyup.enter)="createMap()">
  <button (click)="createMap()">Create</button>
</section>

<!-- Map  -->
<section class="map" *ngIf="map != null">
  <div class="row" *ngFor="let row of map.tiles">
    <div class="col" *ngFor="let column of row">
      <div *ngIf="column[0].id >= 0">
        <label class="map-rover" *ngFor="let rov of column">
          <span>Rover {{rov.id}}</span> - {{rov.direction}}</label>
      </div>
      <label *ngIf="column[0].id == undefined">{{column}}</label>
    </div>
  </div>
  <button (click)="resetAll()">New map</button>
  <hr>
</section>


<!-- add rovers -->
<section class="rover-form" *ngIf="map != null">
  <h2>Land Rovers</h2>
  <p>The software divides into a grid with each square representing a section of the plateau.</p>
  <p>To land a rover on the plateau, enter the
    <span>X and Y Coordinates</span> of the square you would like as well as a letter for the
    <span>Direction</span> you would like the rover to face.</p>
  <p>
    <span>Caution!</span> Rovers may be in the same section as another Rover, but they can also fall off the plateau.</p>
  <input class="new-rover" name="new-rover" [(ngModel)]="start" #newRover="ngModel" placeholder="eg: 2 2 N" autofocus="" (keyup.enter)="addRover()">
  <button (click)="addRover()">Land Rover</button>
  <hr>
</section>

<!-- rovers list -->
<div *ngIf="rovers.length > 0">
  <h2>Rover Instructions</h2>
  <p>Enter a string of characters to direct the rover to move around the plateau.</p>
  <p>Each rover will move in order starting at the top of the list.</p>
  <p>Empty strings will leave the rover where remains</p>

  <ul class="single-line">
    <li> <span>L</span> = Rotate left 90°</li>
    <li> <span>R</span> = Rotate right 90°</li>
    <li> <span>M</span> = Move forward one space</li>
  </ul>

  <form (submit)="executeInstructions()" #formData="ngForm">
    <ul>
      <li class="row">
        <div class="col indent">
          <label>Rover Instructions:</label>
        </div>
      </li>

      <li class="rover-row" *ngFor="let rover of rovers;">
        <div class="col rover">
          <label>
            <span>Rover {{rover.id}}</span> - {{rover.getPosition()}}</label>
        </div>

        <div class="col rover">
          <input class="rover-instructions" name="rover.id" *ngIf="rover.status" [(ngModel)]="rover.instructions" placeholder="eg: L M R M"
            #rover.id="ngModel" pattern="[LlRrMm ]*" [disabled]="!rover.status">
          <label *ngIf="!rover.status" class="crash">Fell off the plateau!</label>
        </div>

        <div class="col rover">
          <button type="button" (click)="deleteRover(rover)">Delete Rover</button>
        </div>
      </li>
    </ul>

    <input type="submit" value="Execute all rover instructions" [disabled]="!formData.valid">
    <label *ngIf="!formData.valid">Invalid Instructions</label>
  </form>

</div>